


<nav>
        <div class="nav-container">
            <div class="logo">
                <span></span>
                <a href="/" class="hello"><img src="m2.png" alt="Logo" width="170" height="80"></a>
            </div>






<!-- in mobile view -->
            <div class="logo"> </div>
<div class="menu-icon" id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
</div>

    <ul id="nav-menu" class="mobile-only">
                <li><a href="/">Home</a></li>
                <li><a href="https://gnit.ac.in/">GNIT</a></li>
                <li><a href="/ventures">Ventures</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li> <a href="/contact">Contact</a></li> -->
                
    </ul>








<!-- in dekstop view -->
            <ul class="desktop-only">
                <li><a class="bnav" href="/">Home</a></li>
                <li><a class="bnav" href="https://gnit.ac.in/">GNIT</a></li>
                <li><a  class="bnav" href="/ventures">Ventures</a></li>
                <li><a class="bnav" href="/team">Team</a></li>
                <li><a class="bnav" href="/about">About</a></li>
                <li><a class="bnav" href="/blogs">Blogs</a></li>
            </ul>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown">
      <b>Contact Us</b>
    </button>
  
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://www.linkedin.com/company/gnit-mahakash-the-space-club/">Linkedin</a></li>
          <li><a class="dropdown-item" href="https://www.instagram.com/mahakashgnit_official?igsh=MXRxeDNjdGhqN21oaA==">Instagram</a></li>
          <li><a class="dropdown-item" href="https://www.facebook.com/share/17pq9GRz2i/">Facebook</a></li>
      </ul>
  </div>

        </div>
</nav>