


<nav>
        <div class="nav-container">
            <div class="logo">
                <span></span>
                <a href="/" class="hello"><img src="m2.png" alt="Logo" width="170" height="80"></a>
                
              
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://gnit.ac.in/">GNIT</a></li>
                <li><a href="/ventures">Ventures</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/about">About</a></li>


              <li>             <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown">
    <b>Contact Me</b>
  </button>
  
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="https://www.linkedin.com/company/gnit-mahakash-the-space-club/">Linkedin</a></li>
    <li><a class="dropdown-item" href="https://www.instagram.com/mahakashgnit_official?igsh=MXRxeDNjdGhqN21oaA==">Instagram</a></li>
    <li><a class="dropdown-item" href="https://www.facebook.com/share/17pq9GRz2i/">Facebook</a></li>
  </ul>
</div></li>



              </ul>
        </div>
            



    </nav>